.idea/
*.hdf5
1-bit-intelligence.PNG
H_population_code.PNG
LearnErrorStateNumNIs1.png
LearnErrorStateNumNIs2.png
LearnErrorStateNumNIs3.png
LearnErrorStateNumNIs30.png
LearnErrorStateNumNIs4.png
LearnErrorStateNumNIs5.png
LearnErrorStateNumNIs60.png
experiment_outline.py.cfg
figure3a
figure3a.png
figure3b
figure3b.png
figure4.png
graph_visual.py
longer_start_3_5_5_3_ring.PNG
neuron.png
probability_expend_reset_energy.PNG
pulse_gate_skywater
signals.png
single_bit_pulse.PNG
startupStateNumNIs1.png
startupStateNumNIs2.png
startupStateNumNIs3.png
startupStateNumNIs30.png
startupStateNumNIs4.png
startupStateNumNIs5.png
startupStateNumNIs60.png
stopErrorStateNumNIs1.png
stopErrorStateNumNIs2.png
stopErrorStateNumNIs3.png
stopErrorStateNumNIs30.png
stopErrorStateNumNIs4.png
stopErrorStateNumNIs5.png
stopErrorStateNumNIs60.png
two_gate_oscillator_noise_on_inputs.PNG
two_gate_oscillator_noise_on_inputs_start.PNG
*.cfg
